body{
    background: url("https://66.media.tumblr.com/043638a13d33aa74f175aa54439f4382/tumblr_inline_n25dj8mB5T1qhwjx8.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

p{
    margin-top: 1000px;
}